__pycache__/
.ipynb_checkpoints/
notebooks/outputs/

.vscode/
.idea/

temp/

model_repository/feature_extractor/1/features.py
model_repository/feature_extractor/1/extractor.pkl
model_repository/titanic_classifier/1/model.onnx